profile=default
margin=83

assignment-operator=begin-line
break-before-in=fit-or-vertical
break-cases=toplevel
break-collection-expressions=fit-or-vertical
break-infix=wrap
break-infix-before-func=true
break-fun-decl=smart
break-fun-sig=smart
break-separators=after
break-sequences=false
break-string-literals=auto
break-struct=natural
cases-matching-exp-indent=compact
disambiguate-non-breaking-match=false
doc-comments=before
doc-comments-tag-only=fit
dock-collection-brackets=false
exp-grouping=preserve
field-space=tight
function-indent-nested=auto
if-then-else=compact
indicate-multiline-delimiters=closing-on-separate-line
indicate-nested-or-patterns=space
infix-precedence=parens
leading-nested-match-parens=false
let-and=compact
let-binding-spacing=compact
let-module=compact
line-endings=lf
match-indent-nested=never
module-item-spacing=compact
nested-match=align
ocp-indent-compat=true
parens-ite=false
parens-tuple=multi-line-only
parens-tuple-patterns=multi-line-only
parse-docstrings=false
parse-toplevel-phrases=false
sequence-blank-line=compact
sequence-style=terminator
single-case=compact
space-around-arrays=false
space-around-lists=false
space-around-records=false
space-around-variants=false
type-decl=compact
wrap-comments=true
wrap-fun-args=true
cases-exp-indent=2
doc-comments-padding=2
extension-indent=2
function-indent=2
indent-after-in=2
match-indent=2
max-indent=2
stritem-extension-indent=2
